 <nav class="teal lighten-3">
    <div class="nav-wrapper container valign-wrapper">
        <a href="/dashboard" class="brand-logo center black-text"><i class="fab fa-js main-logo"></i>Ejs&nbspApp</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-small black-text"><i class="fas fa-bars"></i></a>
        
        <ul class="right hide-on-med-and-down">
            <li><a class="black-text" href="/post">Posts</a></li>
            <li><a class="black-text" href="/dashboard">Dashboard</a></li>
            <li><a class="black-text" href="/auth/logout">Logout</a></li>
        </ul>
        
        <ul class="sidenav" id="mobile-demo">
            <li><a class="black-text" href="/post">Posts</a></li>
            <li><a class="black-text" href="/dashboard">Dashboard</a></li>
            <li><a class="black-text" href="/auth/logout">Logout</a></li>
        </ul>
    </div>
  </nav>