<h3 class='center-align'><i class="fab fa-js"></i>&nbspWelcome to Ejs App</h3>
<div class="divider"></div>
<div class="section center-align">
    <a href="auth/google" class="btn red darken-1">
        <i class="fab fa-google"></i>&nbspLogin With Google
    </a>
</div>