<div class="contaner" id="img-404">
    <img class="responsive-img" src="/assets/svg/404.svg">
</div>
<h3 class="red-text text-lighten-1 center-align" id="error-msg-404">Sorry, Page not found</h3>
<div class="container dashboard-link-404">
    <a class="center-align" href="/dashboard">Go to Dashboard</a>
</div>