<div class="contaner" id="img-404">
    <img class="responsive-img" src="/assets/svg/500.svg">
</div>
<h3 class="lime-text text-darken-1 center-align" id="error-msg-404">Internal Server Error</h3>
<div class="container dashboard-link-404">
    <a class="center-align" href="/dashboard">Go to Dashboard</a>
</div>